In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

In [2]:
train_data = pd.read_csv("Standard Metropolitan Areas Data - train_data.csv")
train_data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,labor,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [3]:
train_data.shape

(99, 10)

In [4]:
train_data.isnull().sum()

land_area         0
percent_city      0
percent_senior    0
physicians        0
hospital_beds     0
graduates         0
labor             0
income            0
region            0
crime_rate        0
dtype: int64

In [5]:
# creating one hot encoder object with categorical feature 0 
# indicating the first column 
# onehotencoder = OneHotEncoder() 
# data = onehotencoder.fit_transform(train_data).toarray()

encoded_columns = pd.get_dummies(train_data['region'])
train_data = train_data.join(encoded_columns).drop('region', axis=1)

In [6]:
train_data

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,labor,income,crime_rate,1,2,3,4
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,75.55,1,0,0,0
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,56.03,0,1,0,0
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,41.32,1,0,0,0
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,67.38,0,1,0,0
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,80.19,0,0,0,1
5,2815,23.1,6.7,7340,16941,68.3,1541.9,25663,58.48,0,0,1,0
6,8360,46.3,8.2,4047,14347,53.6,1321.2,18350,72.25,0,0,1,0
7,6794,60.1,6.3,4562,14333,51.7,1272.7,18221,64.88,0,0,1,0
8,3049,19.5,12.1,4005,21149,53.4,967.5,15826,30.51,1,0,0,0
9,4647,31.5,9.2,3916,12815,65.1,1032.2,14542,55.30,0,1,0,0
10,1008,16.6,10.3,4006,16704,55.9,935.5,15953,54.16,1,0,0,0
11,1519,31.8,10.5,4094,12545,54.6,906.0,14684,52.73,0,1,0,0
12,4326,23.6,7.3,3064,9976,50.4,867.2,12107,58.12,0,0,1,0
13,782,28.4,7.8,3119,8656,70.5,915.2,12591,63.20,0,0,0,1
14,4226,38.1,9.8,3285,5392,67.8,699.8,10918,64.05,0,0,0,1
15,1456,46.7,10.4,2484,8555,56.8,710.4,10104,44.64,0,1,0,0
16,2045,37.2,21.4,1949,8863,50.7,543.2,7989,64.68,0,0,1,0
17,2149,29.8,10.6,2530,8354,48.4,617.6,9037,49.69,0,1,0,0
18,27293,25.3,12.3,2018,6323,57.4,510.6,7399,76.03,0,0,0,1
19,3341,35.8,10.1,2289,7593,59.9,656.3,9106,63.04,0,1,0,0
20,9155,53.8,11.1,2280,6450,60.1,575.2,7766,85.62,0,0,0,1
21,3072,68.0,9.3,2181,7497,56.0,549.6,7736,53.65,0,1,0,0
22,1967,51.1,8.8,2520,8467,45.8,460.5,7038,61.15,0,0,1,0
23,2460,49.6,8.4,1874,7706,59.9,510.7,6658,57.59,0,1,0,0
24,2966,26.9,10.3,2053,6604,56.3,450.4,6966,56.55,1,0,0,0
25,3434,28.9,8.3,1844,3215,65.1,422.6,5909,77.94,0,0,0,1
26,1392,37.2,9.8,1579,6087,46.5,396.8,5705,51.69,0,0,1,0
27,3358,35.1,11.3,1649,5512,44.9,359.1,4941,53.15,0,0,1,0
28,2624,30.4,12.2,1532,4730,55.2,356.5,5094,38.75,1,0,0,0
29,2187,47.0,10.2,1098,4342,51.9,355.4,5142,59.48,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2363,53.1,10.6,565,2717,49.3,146.4,1996,53.97,0,0,1,0
70,946,16.4,11.1,366,1455,43.9,163.8,2178,23.32,1,0,0,0
71,1136,58.6,9.7,448,2630,68.1,171.4,2396,61.46,0,1,0,0
72,2658,39.0,12.2,365,5430,49.9,136.9,1862,28.52,1,0,0,0
73,1758,56.8,11.5,565,2081,65.3,131.2,1939,56.06,0,0,0,1
74,1412,39.2,11.3,436,1837,49.4,154.2,2098,82.68,0,0,0,1
75,2071,19.9,11.3,470,2531,58.9,133.1,1782,36.47,1,0,0,0
76,862,26.3,13.4,423,1929,43.3,145.5,2010,25.49,1,0,0,0
77,1526,71.7,7.7,413,1636,47.1,125.8,1692,66.13,0,0,1,0
78,1758,33.2,11.6,296,2652,45.3,114.4,1641,41.98,0,0,1,0
79,1651,64.6,8.9,774,5431,56.1,136.9,1724,48.88,0,0,1,0
80,1493,64.8,8.9,863,3289,53.7,154.7,1787,53.98,0,0,1,0
81,2710,63.7,6.2,357,1277,72.8,110.9,1639,63.10,0,0,0,1
82,1975,46.5,12.6,405,2896,51.5,133.8,1853,43.94,0,1,0,0
83,1404,38.5,10.0,299,1766,56.2,138.6,1776,40.54,0,1,0,0
84,2737,45.0,10.5,602,1462,71.3,131.4,1980,63.44,0,0,0,1
85,1697,23.8,7.2,338,1610,51.0,105.9,1354,70.50,0,0,1,0
86,813,46.0,9.8,293,1693,58.4,119.9,1688,38.24,1,0,0,0
87,7397,47.3,12.5,355,2042,56.2,113.7,1654,45.97,0,1,0,0
88,1148,45.3,11.1,891,5790,54.0,277.0,3510,49.64,1,0,0,0
89,1509,37.6,12.0,1087,4900,51.4,319.6,3982,45.19,1,0,0,0
90,2013,61.7,9.7,273,1484,50.9,106.7,1412,56.87,0,0,1,0
91,711,42.4,6.1,1411,3659,67.5,131.0,1790,64.91,0,1,0,0
92,471,46.3,8.6,219,1128,47.8,105.3,1458,53.68,0,1,0,0
93,4552,54.4,9.1,329,719,61.9,118.0,1386,62.63,0,0,0,1
94,1511,38.7,10.7,348,1093,50.4,127.2,1452,70.66,0,0,0,1
95,1543,39.6,8.1,159,481,30.3,80.6,769,36.36,0,0,1,0
96,1011,37.8,10.5,264,964,70.7,93.2,1337,60.16,0,0,1,0
97,813,13.4,10.9,371,4355,58.0,97.0,1589,36.33,1,0,0,0
98,654,28.8,3.9,140,1296,55.1,66.9,1148,68.76,0,0,1,0

In [7]:
# #Feature Selection
# y_df = train_data[['crime_rate']]
# # x_df = train_data[['graduates']]
# x_df = train_data.iloc[:,:-1]
# # y_train = y_train.values.reshape(1,-1)
# # x_train = x_train.reshape((1,-1))

In [8]:
x_df = train_data.drop("crime_rate",1)   #Feature Matrix
y_df = train_data["crime_rate"]

In [9]:
print("X Shape: {}".format(x_df.shape))
print("Y Shape: {}".format(y_df.shape))

X Shape: (99, 12)
Y Shape: (99,)

In [10]:
# x_train2 = x_train.values.reshape((-1,1))
y_df = y_df.values.reshape((-1,1))

In [11]:
print("X Shape: {}".format(x_df.shape))
print("Y Shape: {}".format(y_df.shape))

X Shape: (99, 12)
Y Shape: (99, 1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(79, 12) (79, 1)
(20, 12) (20, 1)

In [13]:
test_data = pd.read_csv("Standard Metropolitan Areas Data - model_prediction.csv")
test_data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,labor,income,region,crime_rate
0,3650,34.6,11.1,2358,6224,62.9,539.3,7792,4,NaN
1,4883,72.4,7.3,873,2236,64.9,185.2,2353,4,NaN
2,1435,13.4,11.7,342,1076,44.7,156.8,2165,1,NaN
3,2042,24.5,16.5,4071,10039,51.9,681.7,10166,3,NaN
4,1630,41.9,10.7,724,4395,50.0,198.0,2445,3,NaN

In [14]:
test_data.shape

(42, 10)

In [15]:
# plt.scatter(X_train, y_train)
# plt.ylabel("crime rate")
# plt.xlabel("no. of graduates")
# plt.show()

In [16]:
#Linear Regression
lin_reg = LinearRegression()
# lin_regr.fit(train_data[['graduates']], train_data[['crime_rate']])
linreg_model = lin_reg.fit(X_train, y_train)

In [17]:
print('Coefficients: \n', lin_reg.coef_)
print('intercept: \n', lin_reg.intercept_)

Coefficients:
 [[ 1.29161810e-04 -1.30485363e-02  9.38978038e-02 -1.18497301e-03
  -2.55914750e-04  2.18310903e-01  1.04150181e-02  1.96421394e-04
  -1.48884079e+01 -2.55336059e+00  3.31369241e+00  1.41280761e+01]]
intercept:
 [41.78151521]

In [18]:
#formula obtained for the trained model
def graph(formula, x_range):
    x = np.array(x_range)
    y = eval(formula)
    plt.plot(x, y)

In [19]:
#plotting the prediction line 
# graph('lin_regr.coef_*x + lin_regr.intercept_', range(20, 80))
print(lin_reg.score(X_train, y_train))

0.5492060297023915

In [20]:
print("Score:", linreg_model.score(X_test, y_test))

Score: -0.10509096498433768

In [21]:
# predictions = lin_reg.predict(X_test)
# predictions

In [22]:
sc_X = StandardScaler()
sc_y = StandardScaler()
scX_train = sc_X.fit_transform(X_train)
scy_train = sc_y.fit_transform(y_train)
scX_test = sc_X.fit_transform(X_test)
scy_test = sc_y.fit_transform(y_test)

In [23]:
#Support Vector Regression
svr = SVR(kernel = 'rbf')
svr_model = svr.fit(scX_train, scy_train)

/home/gunnika/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
print("Score:", svr_model.score(scX_test, scy_test))

Score: 0.45419824309295703